{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
{% if request.user.is_authenticated %}
Logged in as {{ request.user.username }}
{% else %}
Not logged in
{% endif %}

<p>Department{{depts.count | pluralize}} count: {{depts.count | apnumber}}</p>
<table>
    <thead>
    <tr>
    <td>ID</td><td>Name English</td><td>Name French</td>
    </tr>
    </thead>
    <tbody>
    {% for dept in depts %}
    <tr><td>{{dept.acronym}}</td><td>{{dept.orgname_en}}</td><td>{{dept.orgname_fr}}</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
